{% extends "shared/_layout.html" %}

{% block title %}Видеопоток{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center mt-5">
    <div class="border border-success rounded shadow p-3 bg-white position-relative"
        style="max-width: 650px; width: 100%;">

        <div class="position-absolute top-0 start-50 translate-middle-x bg-success text-white rounded-pill px-3 py-1 fs-5 fw-bold shadow">
            Сорняков найдено: <span>0</span>
        </div>

        <img src="/static/img/placeholder-img.png" class="img-fluid rounded" alt="Видеопоток">
    </div>
</div>
{% endblock %}