.carousel-control-prev,
.carousel-control-next {
    background-color: rgba(25, 135, 84, 0.4);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: rgba(25, 135, 84, 0.8);
}

@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-5px); }
  40% { transform: translateX(5px); }
  60% { transform: translateX(-5px); }
  80% { transform: translateX(5px); }
  100% { transform: translateX(0); }
}

.shake:hover {
  animation: shake 0.5s;
  animation-timing-function: ease-in-out;
}